<nav id="nav">
	<ul>
		<li>
			<a href="#" class="icon fa-angle-down">Menu</a>
			<ul>
				{{#foreach navigation}}
					<li><a href="/#!/">{{ label }}</a></li>
				{{/foreach}}
			</ul>
		</li>
	</ul>
</nav>